<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title></title>
</head>
<body>
	<h1>admin page</h1>
	
	<h3 sec:authentication="name">Spring Security username</h3>
	<h3>[[${#authentication.name}]]</h3>
	
	<!-- url 기반 권한 설정 -->
	<p sec:authorize-url="/admin">
		<a href="@{/admin}">ADMIN</a>
	</p>
	
	<p sec:authorize-url="/manager">
		<a href="@{/manager}">Manager</a>
	</p>
	
	<!-- role 기반 권한 설정 -->
	<p sec:authorize="hasRole('ROLE_ADMIN')">
		<a href="@{/admin}">ADMIN</a>
	</p>
</body>
</html>
